 @import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

 :root {
     --bg: #000000;
     --fg: #fff;
     --card-1: #4c9668;
     --card-2: #ac2922;
     --card-3: #2f2d96;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Instrument Serif", sans-serif;
 }

 section {
     position: relative;
     width: 100%;
     height: 100svh;
     padding: 2rem;
     background-color: var(--bg);
     color: var(--fg);
 }

 /* SECTION INTRO */
 .intro {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 60px;
 }

 .intro img {
     width: 220px;
     height: 220px;
     object-fit: cover;
     border-radius: 50%;
     border: 4px solid black;
 }

 .intro-text {
     max-width: 520px;
     display: flex;
     flex-direction: column;
     text-align: left;
 }

 .intro-text p:first-child {
     font-size: 24px;
     color: #888;
     margin-bottom: 8px;
 }

 .intro-text h1 {
     font-size: 3rem;
     margin-bottom: 10px;
     white-space: nowrap;
 }

 .intro .role {
     font-size: 2rem;
     font-weight: 600;
     margin-bottom: 20px;
 }

 .intro-text h4 {
     margin-bottom: 10px;
     font-size: 1.5rem;
 }

 .intro .contact {
     list-style: none;
     padding: 0;
 }

 .intro .contact li {
     font-size: 1.2rem;
     line-height: 1.6;
 }

 .intro a {
     font-size: 1.2rem;
     color: white;
     text-decoration: none;
 }

 .intro a:hover {
     text-decoration: underline;
 }